@import url('~normalize.css');
// NOTE: We're using a `.bp-` namespace to indicate these are the boilerplate
// styles.
@import './scss/_settings';
@import './scss/_type';
@import './scss/_layout';
@import './scss/_welcome';
@import './scss/_widgets';

@media (max-width: 900px) {
  .bp-wrapper {
    background-color: red;
    width: 50vw;
  }

  .bp-header {
    background-color: blue;
  }
}
